ul {
  list-style: none;
}
h1 {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;

}
h3 {
  margin: 5px;
}
.panel-heading {
  width: 100%;
  display: inline-block;
}
.panel-title {
  display: inline-block;
  width: 50%;
}
.round {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  /*filter: alpha(opacity=40);*/
  text-decoration: none;
  border-radius: 100%;
  border: none;

}
.round:after {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=80);
  cursor: pointer;
}
.tall{
  line-height: 25px;
}
.switch {
  display: inline-block;
  float: right;
}
.container-user form {
  display: inline-block;
}

.avatar img {
  width: 75px;
}

.avatar h3 {
  display: inline-block;
}

.user-buttons {
  text-align: center;
}
.weather {
  text-align: center;
  /*border: 1px solid black;*/
}
