<form action="/users/{{userid}}/wakeups/" method="post">
    <ul>
      <li>Title: <input type="text" name="wakeup[title]" value=""></li>
      <li>Date: <input type="date" name="wakeup[date]" value=""></li>
      <li>Time: <input type="time" name="wakeup[time]" value=""></li>
      <button id="submit">Submit</button>
    </ul>
</form>
