<h3>{{user.username}}</h3>
<form action="/users/edit" method="get">
    <button id="submit">Edit</button>
</form>
<form action="/users/logout" method="get">
    <button id="submit">Logout</button>
</form>
