<div class="container-user">
  <div class="center-container">
    <div class="well well-lg">
      <div class="center-container">
        <img class="avatar" src="{{user.avatar}}" alt="avatar" />
        <h3 class="align-container">{{user.username}}</h3>
      </div>
        <br>
        <img src="{{user.mapUrl}}" alt="map" />
    </div>
  </div>
  <div class="user-buttons">
    <form action="/users/edit" method="get">
        <button id="submit" class="btn btn-default">Edit</button>
    </form>
    <form action="/users/logout" method="get">
        <button id="submit" class="btn btn-default">Logout</button>
    </form>
    <form action="/users/{{user._id}}/wakeups" method="get">
        <button id="submit" class="btn btn-default">wakeups</button>
    </form>
  </div>
</div>
