<form class="signup" action="/users/signup" method="post">
  <table class="center-container">
    <tr>
      <td>AvatarUrl: </td>
      <td><input type="text" name="user[avatar]"></td>
    </tr>
    <tr>
      <td>Username: </td>
      <td><input type="text" name="user[username]"></td>
    </tr>
    <tr>
      <td>Password: </td>
      <td><input type="password" name="user[password]"></td>
    </tr>
    <tr>
      <td>Phone Number: </td>
      <td><input type="text" name="user[phoneNumber]"></td>
    </tr>
    <tr>
      <td>Latitude: </td>
      <td><input class="locationLat" type="text" name="user[locationLat]"></td>
    </tr>
    <tr>
      <td>Longitude: </td>
      <td><input class="locationLong" type="text" name="user[locationLong]"></td>
    </tr>
    <tr class="right-container">
      <td><button id="location" class="btn btn-default">Get Location</button></td>
      <td><button id="submit" class="btn btn-default">Sign up</button></td>
    </tr>
  </table>
</form>
<div class="center-container">
  <a href='/users/login'>Already have an account? Login here</a>
</div>
